/* Cloud Network Page Styles */
@import url('./style.css');
@import url('./gradient-blobs/gradients-cloud-network.css');

.hero-pattern-mask {
    mask-image: url('/assets/masks/Asset\ 4.svg');
    mask-size: 70rem 60%;
    transform: scaleY(-1)
} 