:root {
    --logo-color: rgb(255, 174, 0);
    --gradient-inner: var(--yellow-darker);
    --gradient-outer: #000000;
    --planet-base: #000;
    --planet-glow-blue: rgba(255, 191, 0, 0.574);
    --planet-glow-light: rgba(255, 0, 72, 0.4);
    --planet-glow-dark: rgba(83, 19, 0, 0.3);
    --planet-surface: rgb(0, 0, 0);
    --planet-inset-glow: rgb(255, 137, 26);
    --planet-atmosphere: rgba(110, 0, 0, 0.674);
    
    /* Atmosphere colors */
    --atmosphere-cyan: rgba(255, 60, 0, 0.3);
    --atmosphere-purple: rgba(0, 128, 255, 0.3);
    --atmosphere-pink: rgba(255, 170, 0, 0.602);
    --atmosphere-orange: rgba(33, 0, 164, 0.3);
    --atmosphere-green: rgba(255, 170, 0, 0.3);
}